$board-width: 30rem;
$cell-width: calc($board-width / 24);
$black-color: #3c3c3b;
$red-color: #f7435e;

@mixin hide-show-element($top) {
  position: relative;
  z-index: 0;
  visibility: hidden;
  top: $top;
  transition: all 0.5s ease-in;
  &.active {
    visibility: visible;
    top: 0;
  }
}

@mixin cell-style($background) {
  background-color: $background;
  border-bottom: 0.06rem solid rgba(140, 140, 140, 0.3);
  border-right: 0.06rem solid rgba(140, 140, 140, 0.3);
  box-sizing: border-box;
  height: $cell-width;
  width: $cell-width;
}

body,
h1,
p {
  margin: 0;
  padding: 0;
}

button {
  background-color: rgb(255, 255, 255);
  color: $black-color;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  border: 2px solid $black-color;
  transition: all 0.2s linear;
  &:hover {
    background-color: rgb(240, 240, 240);
  }
  &:disabled {
    background-color: rgb(179, 179, 179);
  }
  &:active {
    background-color: rgb(230, 230, 230);
  }
}

.container {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  place-items: center;
  height: 100vh;
  background-color: rgb(79, 79, 79);

  .counter {
    color: rgb(255, 255, 255);
    width: $board-width;
    align-self: flex-end;
    letter-spacing: 0.2rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    @include hide-show-element(6rem);
  }

  .board {
    display: flex;
    position: relative;
    z-index: 1;
    flex-wrap: wrap;
    width: $board-width;
    height: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    border: 10px solid $black-color;
    border-radius: 1rem;
    transition: height 0.3s ease-in-out;
    &.active {
      height: $board-width;
      .alert-msg {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        position: absolute;
        top: 0;
        width: 100%;
        font-size: 1.2rem;
        padding: 0.5rem;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.7);
        box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
        img {
          width: 5rem;
        }
        &.hidden {
          display: none;
        }
      }
    }

    .empty-field {
      @include cell-style(none);
    }

    .snake {
      @include cell-style($black-color);
    }

    .apple {
      @include cell-style($red-color);
    }
  }

  .btn-container {
    align-self: flex-start;
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    @include hide-show-element(-6rem);
  }
}

// Main menu
.main-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
  gap: 1rem;
  h1 {
    font-size: 3rem;
    margin: 0;
  }
  .player-name {
    align-self: flex-start;
    margin-left: 1rem;
    margin-bottom: 2rem;
    display: flex;
    position: relative;
    visibility: visible;
    gap: 0.8rem;
    .avatar {
      width: 1.2rem;
    }
    p {
      font-size: 1.2rem;
    }
    .sub-menu {
      width: 1rem;
      padding-bottom: 0.2rem;
      text-align: center;
      svg {
        width: 0.4rem;
      }
      &:hover + .change-name-btn {
        visibility: visible;
        opacity: 1;
      }
    }
    .change-name-btn {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      top: 2rem;
      right: 0;
      font-size: 1rem;
      border: 1px solid $black-color;
      border-radius: 0.3rem;
      padding: 0.3rem 0.5rem 0.4rem 0.5rem;
      cursor: pointer;
      transition: all 0.2s linear;
      &:hover {
        visibility: visible;
        opacity: 1;
      }
    }
    &.hidden {
      visibility: hidden;
    }
  }
}

// High scores
.high-scores-table {
  display: grid;
  place-content: start;
  justify-content: center;
  width: 100%;
  margin: 1.5rem 0;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'title title'
    'score name'
    'page page'
    'btn btn';
  .column-scores,
  .column-names {
    justify-self: center;
  }
  .column-names {
    grid-area: name;
  }
  .column-scores {
    grid-area: score;
  }
  h1 {
    grid-area: title;
    margin-bottom: 1rem;
  }
  .go-back {
    grid-area: btn;
  }
}

// SetName
.set-name {
  display: grid;
  place-content: center;
  width: 100%;
  margin-bottom: 5rem;
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    .submit-btn {
      margin-left: 5rem;
    }
  }
  .input-name {
    box-sizing: border-box;
    width: 100%;
    height: 2.2rem;
    font-size: 1.2rem;
    color: $black-color;
    padding: 0 0.5rem;
    border: 2px solid $black-color;
    border-radius: 0.5rem;
  }
}

// Control scheme
.control-scheme {
  display: grid;
  place-content: center;
  margin: 1rem;
  gap: 1.5rem;
  text-align: center;
  font-size: 1.2rem;
  .arrow-key {
    width: 10rem;
    justify-self: center;
  }
  .key-p,
  .key-q {
    width: 3.2rem;
  }
  .keys-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-left: 3rem;
    p {
      font-size: 1.2rem;
      flex-grow: 1;
      text-align: start;
    }
  }
  .got-it {
    font-weight: 600;
    padding: 0.4rem 0.8rem;
    justify-self: center;
    &:hover {
      background-color: $black-color;
      color: rgb(255, 255, 255);
    }
  }
}

// Game over
.game-over {
  display: grid;
  justify-content: center;
  align-content: center;
  gap: 2rem;
  width: 100%;
  text-align: center;
  margin-bottom: 5rem;
  font-size: 1.4rem;
  .score {
    font-size: 3rem;
  }
}
